<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWCFServiceDemo" />
                <binding name="BasicHttpBinding_IWCFServiceDemo1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57302/WCFServiceDemo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFServiceDemo"
                contract="WCFDemo.IWCFServiceDemo" name="BasicHttpBinding_IWCFServiceDemo" />
            <endpoint address="http://localhost:57302/WCFServiceDemo.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFServiceDemo1"
                contract="MyServiceProxy.IWCFServiceDemo" name="BasicHttpBinding_IWCFServiceDemo1" />
        </client>
    </system.serviceModel>
</configuration>